{% extends 'base.html' %}

{% block title %}
Orders list
{% endblock %}

{% block body %}
<h1>Orders:</h1>
{% if object_list %}
<div>
    {% for order in object_list %}
    <div>
        <p><a href="{% url 'items:order_details' pk=order.pk %}"
        >Order №{{ order.pk }}</a></p>
    </div>
    <hr>
    {% endfor %}
</div>
{% else %}
<h3>No orders yet</h3>
{% endif %}
<div>
    <a href="{% url 'items:order_create' %}"
    >Create a new order</a>
</div>
<div>
    <a href="{% url 'items:items_list' %}"
    >Back to items list</a>
</div>
{% endblock %}
